[submodule "submodules/sas_cpp"]
	path = submodules/sas_cpp
	url = https://github.com/MarinhoLab/sas_cpp.git
	branch = main
[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v3.0
[submodule "submodules/dqrobotics/cpp"]
	path = submodules/dqrobotics/cpp
	url = https://github.com/dqrobotics/cpp.git
