include marinholab/sas/core/py.typed
include marinholab/sas/core/*.pyi
include marinholab/sas/core/modeling/py.typed
include marinholab/sas/core/papers/py.typed
include marinholab/sas/core/papers/icra2019/py.typed
